body, html {
  height: 100%;
}
#showLeftPush.btn {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 27px;
    margin: 0;
    padding: 3px 10px 6px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}
.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}
 
.cbp-spmenu h3 {
    background: none repeat scroll 0 0 #0D77B6;
    color: #AFDEFA;
    font-size: 1.9em;
    font-weight: 300;
    margin: 0;
    padding: 5px 14px;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background: #258ecd;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
 
/* Orientation-dependent styles for the content of the menu */
 #main{
   
  }
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}
.cbp-spmenu-vertical a span {
    display: inline-block;
    font-size: 22px;
    position: relative;
    right: -3px;
}
.cbp-spmenu-vertical a:hover {
    text-decoration: none;
}
.cbp-spmenu-left {
    left: -195px;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 45px;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -195px;
}
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -145px;
    }
 
   
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}



/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 0 0 4px 4px;
border-top: none;}


.login-input {
  margin-bottom: 5px;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}