#brand {
    border-bottom: medium none;
    padding: 5px;
    width: 147px;
    opacity: 0;
}
.cbp-spmenu #brand.a:hover {
    background-color: none;
}
.ok{
  color:#47A3DA;
}
.not-ok{
  color: #D64937;
}
#ui-panel {
    background-position: right bottom;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    top: 0;
    width: 60px;
    z-index: 900;
    background-color: #C9DB00;
    position: fixed;
    color:#fff;

}
#ui-panel i {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    padding: 14px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
}
.col-md-6.portlate{
    padding: 15px;
}
.map { width:100%; height: 300px;
background: #eee; }
body, html {
  height: 100%;
}
#map {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; }
.bigpage
{
  margin: 10px;
}
.bigmapwrap{
  width: 100%;
  position: relative;
  height: 70%;
}
#slider ul{
  margin: 0;
  padding: 0;
}
#slider li{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

#slider li:first-child
{
  background: url('../img/bg.jpg');
  background-position: center;
  background-size:cover;
}
#slider li:nth-child(2)
{
  background: url('../img/bg-2.jpg');
  background-position: center;
  background-size:cover;
}
#slider li:nth-child(3)
{
  background: #333;
  background-position: center;
  background-size:cover;
}
body.login-page{
  background: url('../img/bg.jpg');
  background-position: center;
  background-size:cover;
}
#showLeftPush.btn {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 27px;
    margin: 0;
    padding: 3px 10px 6px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    text-indent: 0;
}
.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}
 
.cbp-spmenu h3 {
    background: none repeat scroll 0 0 #0D77B6;
    color: #AFDEFA;
    font-size: 1.9em;
    font-weight: 300;
    margin: 0;
    padding: 5px 14px;
    background-image: url('../img/fitapp.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: 5px 5px;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background-color: #258ecd;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

#sheet {
    
    
    margin-right: 45px;
}
/* Orientation-dependent styles for the content of the menu */
 #main{
  
  }
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    background-image: url('../img/brand.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}
.cbp-spmenu-vertical a span {
    display: inline-block;
    font-size: 22px;
    position: relative;
    right: -3px;
}
.cbp-spmenu-vertical a:hover {
    text-decoration: none;
}
.cbp-spmenu-left {
    left: -195px;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    background-image: none;
}
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 45px;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -195px;
}
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -145px;
    }
 
   
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
@media screen and (max-height: 300px){
 
.cbp-spmenu-left.cbp-spmenu-open {
    background-image: none;
  }
}




/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-image: none;
    border-radius: 0 0 4px 4px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.53);
    color: #111111;
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
    border: none;
    position: relative;
    z-index: 300;
}
.form-signin small
{
  color: #333;
}


.login-input {
  margin-bottom: 5px;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}