<html ng-app="plansApp">
<head>
	<title>Trainer App|Plan</title>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/ze-style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/plan.css">
    <link rel="stylesheet" type="text/css" href="css/xeditable.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro" rel="stylesheet" />
    <!--[if lte IE 8]><script src="js/vendor/html5shiv.js" type="text/javascript"></script><![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="js/vendor/xeditable.js"></script>
    <script type="text/javascript" src="js/plansApp.js"></script>
    <script type="text/javascript" src="js/plansControllers.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
   	
</head>
<body class="cbp-spmenu-push main" ng-controller="PlanController">
    <!--offCanvasMenu-->
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
        <h3><a id="brand" href="/">FitApp</a><a id="showLeftPush" class="btn btn-large pull-right"><spam class="glyphicon glyphicon-th-list"></spam></a></h3>
        <a href="maps.html">My Maps <span class="glyphicon glyphicon-map-marker pull-right"></span></a>
        <a href="timeline.html">My Programmes<span class="glyphicon glyphicon-tasks pull-right"></span> </a>
        <a href="calendar.html">My Calendar <span class="glyphicon glyphicon-calendar pull-right"></span> </a>
        <a href="plans.html"> My Plans <span class="glyphicon glyphicon-signal pull-right"></span></a>
        <a href="stats.html"> My Stats <span class="glyphicon glyphicon-stats pull-right"></span></a>
  </nav>


    <div id="sheet" >
    <div id="ui-panel" >
        <img src="img/planicons/training-add.png" ng-click="addItem('training')" title="add TRAINING" data-placement="right" >
        <img src="img/planicons/workout-add.png" ng-click="addItem('workout')" title="add WORKOUT" data-placement="right" >
        <img src="img/planicons/cardio-add.png" ng-click="addItem('cardio')" title="add CARDIO" data-placement="right" >
        <img src="img/planicons/meal-add.png" ng-click="addItem('meal')" title="add MEAL" data-placement="right" >
        
        <img src="img/planicons/supplements-add.png" ng-click="addItem('supplements')" title="add SUPPLEMENTS" data-placement="right" >
        <img src="img/planicons/milestone-add.png" ng-click="addItem('milestone')" title="add MILESTONE" data-placement="right" >
    </div>
     
  	<div class="bigpage" >
        <div class="qa-message-list" id="wallmessages" >
        <hgroup>
        	<h2><a href="#" editable-text="plan.name" onaftersave='savechanges()'>{{ plan.name || 'empty' }}</a></h2>
        	<h4>by {{plan.author}}</h4>
        	<hr>
        </hgroup>
        <div id="itemlist">
        <!-- item end-->
    				<div  class="message-item" ng-repeat="item in plan.planitems track by $index | orderBy:'item.index'" dnd-list="plan.planitems">
						<div class="message-inner">

							<div class="message-head clearfix">
								<div class="avatar pull-left"> <img ng-src="img/planicons/{{item.type}}.png" /></div>
                                <div class="status" ng-click="stageToggle(item)">
                                    <span class="pull-right ok" ng-show="item.done"><i class="fa fa-check-square-o fa-2x"></i></span>
                                    <span class="pull-right not-ok" ng-hide="item.done"><i class="fa fa-square-o fa-2x"></i></span>
                                </div>
								<div class="user-detail">
									<h5 class="handle" editable-text="item.title" onaftersave='savechanges()'>{{item.title}}</h5>
                                    <i>{{item.type}}</i> <br>
									<div class="post-meta">
										<div class="asker-meta">

											<span class="qa-message-what"></span>
											<span class="qa-message-when">
                                                 <a href="#" editable-bsdate="item.date" e-datepicker-popup="dd-MM-yy">
    {{ (item.date | date:"dd MMMM yy") || 'empty' }}
  </a>
												
											</span>
											<span class="qa-message-who">
												<span class="qa-message-who-pad">@</span>
												<span class="qa-message-who-data">{{item.time}}</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content" editable-textarea="item.description" e-rows="7" e-cols="40">
								{{item.description}}
							</div>

					</div>
                    <div class="controls"> <i class="fa fa-sort" title="sort"></i> <i class="fa fa-trash-o" ng-click="remove(item)" title="drop"></i></div>
                </div>
					<!-- item end-->
				</div>
					
			</div>
        
        
        </div>     
    </div>
</div>

   <!--le Script-->
    <script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>   
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/offcanvasmenu.js"></script>  
    <script src="js/main.js"></script>
</body>
</html>
