<div class="bigpage">
<h3>{{singlemapdata.name}} </h3>
	<div class="bigmapwrap">
		<div id="map"></div>
	</div>

	<div id="mapcontrols">
		<p></p>
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#markers" data-toggle="tab">Markers</a></li>
		  <li><a href="#profile" data-toggle="tab">Profile</a></li>
		  <li><a href="#messages" data-toggle="tab">Messages</a></li>
		  <li><a href="#settings" data-toggle="tab">Settings</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane fade in active" id="markers">
		  	<p></p>
		  	<div class="btn-group btn-group-lg">

		        <button class="btn btn-success" type="button" title="add marker" ng-click="addMarker();"><span class="glyphicon glyphicon-map-marker"></span></button>
		        <button class="btn btn-success" type="button " title="draw line"><i class="fa fa-pencil"> </i></button>
		        <button class="btn btn-success" type="button " title="draw polygon"><i class="fa fa-pencil-square"> </i></button>
		      
		      </div>
		  </div>
		  <div class="tab-pane fade" id="profile">...</div>
		  <div class="tab-pane fade" id="messages">...</div>
		  <div class="tab-pane fade" id="settings">...</div>
		</div>





		
      


	</div>
</div>        
  