<div class="bigpage">
<h3>{{singlemapdata.name}} </h3>
	<div class="bigmapwrap">
		<div id="map"></div>
	</div>

	<div id="mapcontrols">
		<p></p>
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#markers" data-toggle="tab">Markers</a></li>
		  <li><a href="#profile" data-toggle="tab">Profile</a></li>
		  <li><a href="#messages" data-toggle="tab">Messages</a></li>
		  <li><a href="#settings" data-toggle="tab">Settings</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div id="markers">
		  	<p></p>
		  	

		        <button class="btn btn-success" type="button" title="add marker" ng-click="editLayer.addMarker.doMarker();"><span class="glyphicon glyphicon-map-marker"></span> Create trail</button>
		       
		      
		  
		</div>





		
      


	</div>
</div>        
  